<% provide(:title, "Home") %>
  <body data-spy="scroll" data-target=".navbar">
    <%= render 'layouts/header' %>
    <%= render 'layouts/carousel' %>
    <div class="container">
      <%= render 'layouts/careTEAM' %>
      <%= render 'layouts/careLINK' %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</div>