    <span class="anchor" id="CareLINK"></span>
      <hr class = "topicbreak">
        <div class="row featurette">
        <%= image_tag("careLINK-logo.png", alt: "careLINK-logo", class: "img-responsive center-block") %>
        <div class="col-md-6">
          <%= image_tag("CareLINKList.png", alt: "CareLINKList", class: "img-responsive center-block") %>
        </div>
        <div class="col-md-3">
          <%= image_tag("DoctorWhite.png", alt: "DoctorWhite", class: "img-responsive center-block") %>
        </div>
        <div class="col-md-3">
          <%= image_tag("PatientWhite.png", alt: "PatientWhite", class: "img-responsive center-block") %>
        </div>
      </div>
      <hr>
      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag("iMac2.png", alt: "iMac", class: "img-responsive center-block") %>
        </div>
        <div class="col-md-7">
          <%= image_tag("CareLINKComparison.png", alt: "CareLINKComparison", class: "img-responsive center-block") %>
        </div>